#product_search_min_range::-webkit-outer-spin-button,
#product_search_min_range::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#product_search_min_range {
  -moz-appearance: textfield;
}

#product_search_max_range::-webkit-outer-spin-button,
#product_search_max_range::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#product_search_max_range {
  -moz-appearance: textfield;
}